<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dtsworkshop.goldenwolf-test-client"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>goldenwolf-test-client</name>            
    <description>
        A Lungo-Angular-Phonegap app
    </description>
    <author href="" email="">
        Oliver Tupman
    </author>
</widget>