<html ng-app="goldenwolf-test-clientApp">
    <head>
        <title>goldenwolf-test-client</title>

        <link rel="stylesheet" type="text/css" href="components/lungo/lungo.css"/>
        <link rel="stylesheet" type="text/css" href="components/lungo/lungo.icon.css"/>
        <link rel="stylesheet" type="text/css" href="components/lungo/theme.lungo.css">
        <script type="text/javascript" src="components/quojs/quo.debug.js"></script>
        <script type="text/javascript" src="components/lungo/lungo.js"></script>
    </head>
    <body class="app" lab-boot>
        <section id="main" data-transition="slide" ng-controller="AppCtrl"> 
            <header >
                <nav class="left">
                    <a data-icon="menu" lab-aside="aside1"></a>
                </nav>
                <nav class="right">
                    <a href="#/dynamic">Dynamic</a>
                    <a href="#/static">Static</a>
                    <a href="#/deeplink/view/demo">Deeplink</a>
                </nav>
            </header>

            <article id="main-article" class="active">
                <h1>goldenwolf-test-client</h1>
                <button ng-click="getTodos()">Get todos</button>
                <br/>
                <strong>Todos <span id="todoCount">({{todos.length}})</span></strong>
                <ul>
                  <li ng-repeat="todo in todos">{{todo.text}}</li>
                  <li ng-show="todos.length == 0">No todos yet</li>
                </ul>
            </article>
        </section>
                
        <aside id="aside1">
            <header data-title="goldenwolf-test-client"></header>
            <article class="active list scroll">
                <ul>
                    <li><a href="#/dynamic"><strong>Dynamic</strong></a></li>
                    <li><a href="#/static"><strong>Static</strong></a></li>
                    <li><a href="#/deeplink/view/demo"><strong>Deeplink</strong></a></li>
                </ul>
            </article>
        </aside>
                
        <lab-view></lab-view>        
        
        <!-- If you use build.phonegap.com DO NOT add the phonegap.js to your archive -->
        <!-- 404 script src="phonegap.js"></script-->
        <script type="text/javascript" src="components/angular/angular.js"></script>
        <script type="text/javascript" src="components/angular-resource/angular-resource.js"></script>
      
        <script type="text/javascript" src="components/lungo-angular-bridge/dist/lungo-angular-bridge.js"></script>
        <!-- Our Angular app files -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
    </body>
</html>